:root {
    --OverlayLightBlue: rgb(134, 182, 220, 0.5);
    --PrimaryButtonBlue: #7baac4;
    --PrimaryBorderDarkBlue: #177e91;
    --SecondaryButtonBlue: #3b88a6;
    --ModalBackground: rgb(164, 204, 204, 0.6);
    font-family: Orbitron;
}

@font-face {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Orbitron-VariableFont_wght.ttf");
    font-display: swap;
}
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9ee7e4;
    background-image: radial-gradient(
        rgb(145, 145, 145, 0.1) 3px,
        transparent 0
    );
    background-size: 15px 15px;
    background-position: -19px -19px;
    color: white;
    display: flex;
    justify-content: center;
    /* border: 2px solid white;
    border-radius: 6px; */
    height: 100vh;
    width: 100%;
}

button {
    background: var(--OverlayLightBlue) !important;
    color: white !important;
    filter: drop-shadow(9px 4px 3px rgba(23, 126, 145, 1));
}

.sidebar-icon {
    background: var(--OverlayLightBlue) !important;
    color: white !important;
    clip-path: polygon(
        50% 0%,
        121.33% 0px,
        120.45% 57.15%,
        68.67% 58.14%,
        56.11% 100%,
        0px 100%,
        0px 0px
    );
    width: 90px !important;
    height: 35px !important;
    display: flex !important;
    justify-content: start !important;
    margin-bottom: 0.75rem !important;
}

.sidebar-icon svg {
    margin-left: 1rem;
}

.left-sidebar {
    width: 100px;
    height: 80vh;
    background: var(--OverlayLightBlue);
    clip-path: polygon(
        2px 4px,
        99% 3px,
        98% 7.59%,
        57.89% 14.37%,
        57% 30.51%,
        32% 59.33%,
        29% 100.2%,
        0px 100%
    );
    border-radius: 8px;
}

.left-sidebar-container {
    display: none;
    position: absolute;
    filter: drop-shadow(5px 9px 5px rgba(23, 126, 145, 1));
}
.right-sidebar-container {
    position: absolute;
    right: -1rem;
    filter: drop-shadow(9px 4px 3px rgba(23, 126, 145, 1));
    top: 5rem;
}

.header-container {
    margin-left: 0.25rem;
    border: 0 !important;
    width: 100% !important;
    height: 50px !important;
    background: none !important;

    filter: drop-shadow(5px 9px 5px rgba(23, 126, 145, 1));
}

.topbar-container {
    font-family: "Orbitron";
    background: var(--OverlayLightBlue) !important;
    height: 100%;
    border-radius: 6px;
    clip-path: polygon(
        50% 0%,
        100% 0px,
        100% 46%,
        26.17% 49%,
        21.07% 96%,
        0px 100%,
        0px 0px
    );
    font-size: 0.75rem;
    user-select: none;
    cursor: pointer;
}

.topbar {
    padding: 1rem 0rem;
    margin-left: -0.65rem !important;
}

.parent-container {
    /* height: 100vh;
    max-height: 100vh;
    max-width: 1600px;
    position: relative; */
    z-index: 10;
    max-width: 1600px;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box !important;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8px 0;
}

.body-background {
    background: rgb(158, 205, 210, 0.75);
    min-height: 600px;
    position: absolute;
    left: 0.5rem;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -1;
    bottom: 3rem;
}

.body-container {
    width: 100% !important;
    padding: 0 !important;
    margin-top: -2rem;
}

.body-container > * {
    padding: 3rem 0.25rem;
}

.error-text {
    color: red;
    text-decoration: underline;
    font-size: 3rem;
}

.svelteui-Modal-modal {
    background: var(--ModalBackground) !important;
    backdrop-filter: blur(4px);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.47);
    color: white !important;
    /* filter: drop-shadow(0px 17px 3px rgba(23, 126, 145, 1)); */
}

.svelteui-Modal-modal::before {
    content: "\00a0";
    width: 106%;
    height: 30px;
    background: rgba(23, 126, 145, 0.5);
    position: absolute;
    top: -1.25rem;
    left: -0.75rem;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        95% 100%,
        95% 68%,
        5% 68%,
        5% 100%,
        0 100%
    );
    border-radius: 4px;
    margin: -1px -2px 0 -2px;
    filter: blur(6px);
}

.svelteui-Modal-modal::after {
    content: "\00a0";
    width: 105%;
    height: 20px;
    background: rgba(23, 126, 145, 0.5);
    position: absolute;
    bottom: -0.75rem;
    left: -0.75rem;
    transform: scaleY(-1);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        95% 100%,
        95% 68%,
        5% 68%,
        5% 100%,
        0 100%
    );
    border-radius: 4px;
    margin: -1px -2px -2px;
    filter: blur(6px);
}

.svelteui-Modal-inner > div {
    box-shadow: inset 0 0 16px rgba(255, 255, 255, 1);
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(1px);
    }
}

.svelteui-Modal-inner {
    animation: blur 0.25s ease-in;
    animation-fill-mode: forwards;
}

.modal-second-inner::before {
    content: "\00a0";
    width: 107%;
    height: 30px;
    background: rgb(255, 255, 255, 0.8);
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        95% 100%,
        95% 68%,
        5% 68%,
        5% 100%,
        0 100%
    );
    border-radius: 4px;
    z-index: 2;
}
.modal-second-inner::after {
    content: "\00a0";
    width: 106%;
    height: 20px;
    background: rgb(255, 255, 255, 0.8);
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    transform: scaleY(-1);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        95% 100%,
        95% 68%,
        5% 68%,
        5% 100%,
        0 100%
    );
    border-radius: 4px;
    z-index: 2;
}

.battle-chip {
    background: #365c9a;
    min-width: 105px;
    width: 105px;
    height: 162.5px;
    clip-path: polygon(
        0 90%,
        2% 88%,
        2% 83%,
        0 82%,
        0 3%,
        7% 0,
        100% 0,
        100% 82%,
        98% 83%,
        98% 88%,
        100% 90%,
        100% 100%,
        0 100%
    );
    margin: 0.15rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: relative;
}

.battle-chip-label {
    background: #a19cb0;
    width: 75px;
    height: 98px;
    margin-left: 0.3rem;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0px -4px 22px -20px black;
    border: #234987 2px solid;
    border-top: 0;
}

.battle-chip-inner-label {
    background: black;
    height: 90px;
    width: 70px;
    margin-top: 0.25rem;
    clip-path: polygon(
        3.84% 0px,
        95% 0px,
        100% 3.84%,
        100% 95%,
        95% 100%,
        3.84% 100%,
        0px 95%,
        0px 3.84%
    );
    position: relative;
}
.battle-chip-inner-label > img {
    position: absolute;
    top: 52%;
    left: 54%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: 56px;
    height: 48px;
    scale: 1.1;
}
.battle-chip-label-text {
    margin-top: 6px;
    font-weight: 700;
    font-size: 7px;
    text-align: center;
    color: yellow;
    white-space: nowrap;
}

.battle-chip-contacts {
    box-shadow: inset 0px 9px 22px -9px black;
    width: 84%;
    height: 40px;
    background: repeating-linear-gradient(
        to right,
        #745039 0px,
        #745039 5px,
        #ffe373 5px,
        #ffe373 10px
    );
    position: absolute;
    bottom: 2px;
}

.battle-chip-label-title {
    font-weight: 600;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-size: clamp(2px, 8px, 10px);
    height: 11px;
    width: 60px;
    white-space: nowrap;
    text-align: center;
}
.battle-chip-left-detail {
    border: #234987 2px solid;
    border-left: 0;
    height: 45px;
    width: 8px;
    position: absolute;
    left: -2px;
    top: 2.5rem;
    border-radius: 3px;
}
.battle-chip-bottom-detail {
    font-size: 6.5px;
    position: absolute;
    bottom: 2.85rem;
    right: 0.55rem;
    background: #745039;
    color: #ffe373;
    border-radius: 3px;
    border: #234987 2px solid;
    padding: 1px;
}

.battle-chip-top-left-detail {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 0.2rem;
    border: #234987 2px solid;
}

.battle-chip-modal-title {
    white-space: nowrap;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.25rem;
}

.battle-chip-modal-body {
    font-size: 0.75rem;
}

.battle-chip-modal-info {
    margin-left: 0.5rem;
}

.footer {
    position: absolute;
    bottom: 1.35rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.47);
    font-size: 0.75rem;
}

.svelteui-Modal-header {
    position: absolute;
    top: -0.9rem;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svelteui-Modal-title {
    font-family: "Orbitron" !important;
    font-size: 0.9rem !important;
    color: white !important;
    text-shadow: 2px 2px 0px turquoise !important;
    letter-spacing: 2px !important;
}

.page-header {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.47);
    position: absolute !important;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-paragraph {
    background: var(--OverlayLightBlue) !important;
    filter: drop-shadow(9px 4px 3px rgba(23, 126, 145, 1));
    padding: 1rem 2rem !important;
    border: 1px solid white;
    border-radius: 3px;
}

.test-navi {
    width: 500px;
    height: 600px;
    position: absolute;
    right: 6rem;
}
.test-navi img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.marquee-message {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.marquee-message p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
}

.bottom-right-screen-detail-container {
    position: absolute;
    bottom: 1.5rem;
    right: -2rem;
    display: none;
    filter: drop-shadow(5px 9px 5px rgba(23, 126, 145, 1));
}

.bottom-right-screen-detail {
    background: var(--OverlayLightBlue);
    height: 200px;
    width: 300px;
    clip-path: polygon(
        52% 26%,
        73% 0,
        100% 0,
        100% 100%,
        75% 100%,
        50% 100%,
        0 100%,
        38% 42%,
        49% 69%,
        64% 54%
    );
}

.top-left-overlay-detail-container {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    filter: drop-shadow(13px 19px 25px white);
    display: none;
}

.top-left-overlay-detail {
    background: white;
    height: 300px;
    width: 100px;
    clip-path: polygon(0 0, 4% 0, 5% 76%, 20% 84%, 20% 100%, 0 100%);
}

@media screen and (min-width: 750px) {
    .topbar {
        margin-right: 2rem;
        padding: 1rem;
        margin-left: 0;
    }
    .topbar-container {
        font-size: 1rem !important;
    }
    .left-sidebar-container {
        left: -0.75rem;
        top: 5rem;
        display: initial;
    }
    .body-container {
        right: -2rem;
    }
    .body-container > * {
        padding: 4rem 5rem 5.5rem 6rem !important;
    }
    .body-background {
        left: 2rem;
        bottom: initial;
    }
    .header-container {
        margin-left: 0;
    }
    .bottom-right-screen-detail-container,
    .top-left-overlay-detail-container {
        display: initial;
    }
}
